##################
# Unity ignores:
#
# !!! WARNING !!!
#
# … you MUST convert Unity to using Metafiles *before* you start using this
#  .gitignore file, or you WILL lose data!
#

thumbs.db

# OS X crap:
.DS_Store
*.swp
*.Trashes
 
# All platforms:
Library
/obj
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs